.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 120%;
    border: 2px solid gold;
}
.main h2 {
    flex-grow: 1;
    text-align: center;
}
.fgroup {
    display: flex;
    padding: 10px;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;

}

.fgroup label {
    flex-basis: 40%;
    text-align: right;
    padding: 3px;
}

.fgroup input {
    border: 2px solid green;
    flex-basis: 40%;
}

.fgroup button {
    flex-basis: 40%;
}
